.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // display: flex;
  // flex-direction: column;
  &.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
 }
}

.carousel-container {
  // max-width: 800px; /* Set maximum width for the carousel */
  margin: auto; /* Center the carousel */
}

.carousel {
  display: flex; /* Set display mode to flex */
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snapping to items */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.carousel-item {
  flex: 0 0 auto; /* Disable flex-grow and flex-shrink */
  // width: 1000px; /* Set width of each carousel item */
  scroll-snap-align: start; /* Snap items to start of container */
}
