
<section id="inicio" class="w-full h-screen relative m-auto bg-secondary text-terciary ">
  <div class="mix-blend-darken w-full h-full absolute  opacity-10" style="background-image: url(https://storage.googleapis.com/dipace-assets/00-Backgrounds/Grecas_background.png)" alt="">
  </div>
    <div class="absolute flex flex-col justify-center items-center">
      <nav class="navbar-fixed-top nav-desktop float-none w-full h-12 p-3 hidden md:flex bg-primary bg-opacity-5 shadow-primary shadow-sm justify-between z-50">
        <div class="h-auto w-44 ">
          <a href="#inicio" class="text-xl text-primary font-cocosignumMaiuscolettoBold">DI PACE</a>
        </div>

        <div class="flex space-x-3 space-y-1">
          <cdk-accordion>
            <cdk-accordion-item #accordionMenu="cdkAccordionItem">
              <div class="">
                <a type="button" (click)="accordionMenu.toggle()" class="inline-flex  w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm  hover:text-slate-50 hover:border-primary" id="menu-button" aria-expanded="true" aria-haspopup="true" >
                  MENÚ
                  <svg class="-mr-1 h-5 w-5 text-gray-400 hover:text-terciary hover:border-primary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>

              <div class="w-full inline-flex  justify-center ">
                <div [style.display]="accordionMenu.expanded ? '' : 'none'" class="  inline-flex  justify-center  right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <!-- <a href="#" class="text-gray-700 block px-4 py-2 text-sm font-semibold hover:text-slate-50 hover:border-primary" role="menuitem" tabindex="-1" id="menu-item-0" id="menu-item-1" href="https://storage.googleapis.com/dipace-assets/Menus_pdf/DI%20PACE%20ft.%20ARELLANO%20%26%20GALLEGOS.pdf" download  target="_blank">MENÚ ROTATIVO</a> -->

                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm font-semibold hover:text-slate-50 hover:border-primary" role="menuitem" tabindex="-1" id="menu-item-1" href="https://storage.googleapis.com/dipace-assets/Menus_pdf/MENU%202024%20A%5B1%5D.pdf" download  target="_blank">MENÚ PRIMAVERA-VERANO</a>
                    <!-- <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
                    <form method="POST" action="#" role="none">
                      <button type="submit" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
                    </form> -->
                  </div>
                </div>
              </div>
            </cdk-accordion-item>
          </cdk-accordion>
          <div class=" ">
            <a href="#quienes" class="text-md text-terciary hover:text-slate-50 font-bold font-chapaza "  >¿Quienes Somos?</a>
          </div>
        </div>

        <div class="flex space-x-4 mr-6">
          <a class="py-1 text-2xl hover:text-slate-50" href="https://www.instagram.com/dipace.it/" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a class="py-1 text-2xl hover:text-slate-50" href="https://www.facebook.com/dipace.risto/" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a class="py-1 text-2xl hover:text-slate-50" target="_blank"  href="https://www.tiktok.com/@dipace.it" rel="noopener noreferrer">
            <fa-icon [icon]="faTiktok"></fa-icon>
          </a>
        </div>
      </nav>

      <div class="nav-mobile w-full h-12 p-3  bg-primary bg-opacity-5 shadow-primary shadow-sm justify-between flex md:hidden " >
        <div class="space-y-1.5" (click)="togglemenu()">
          <span class="block w-8 h-1 bg-primary opacity-60"></span>
          <span class="block w-8 h-1 bg-primary opacity-60"></span>
          <span class="block w-8 h-1 bg-primary opacity-60"></span>
        </div>
        <div class="h-auto w-auto">
          <a href="#inicio" class="text-xl  text-primary font-cocosignumMaiuscolettoBold">DI PACE</a>
        </div>
        <div class="flex space-x-4">
          <a class="py-1 text-lg hover:text-slate-50" href="https://www.instagram.com/dipace.it/" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a class="py-1 text-lg hover:text-slate-50" href="https://www.facebook.com/dipace.risto/" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a class="py-1 text-lg hover:text-slate-50" target="_blank" href="https://www.tiktok.com/@dipace.it" rel="noopener noreferrer">
            <fa-icon [icon]="faTiktok"></fa-icon>
          </a>
        </div>
      </div>

      <div class="side-menu bg-primary bg-opacity-75 w-full h-screen transform -translate-x-full ease-in-out duration-500 p-12 z-50" [class.active]="activeMenu">
          <div class="w-full h-fit flex justify-end">
            <button class="w-9 pt-1 text-slate-50 text-2xl font-extrabold bg-secondary  rounded-full border"  (click)="togglemenu()">
              <fa-icon class="text-lg" [icon]="faXmark"> </fa-icon>
            </button>
          </div>
          <ul class="w-full h-full flex flex-col space-y-10 justify-center items-center -mt-16">
            <li>
              <!-- <a href="#" class="text-slate-50 block px-4 py-2 text-xl font-bold hover:text-terciary hover:border-primary" role="menuitem" tabindex="-1" id="menu-item-0" id="menu-item-1" href="https://storage.googleapis.com/dipace-assets/Menus_pdf/DI%20PACE%20ft.%20ARELLANO%20%26%20GALLEGOS.pdf" download  target="_blank">MENÚ ROTATIVO</a> -->

              <a href="#" class="text-slate-50 block px-4 py-2 text-xl font-bold hover:text-terciary hover:border-primary" role="menuitem" tabindex="-1" id="menu-item-1" href="https://storage.googleapis.com/dipace-assets/Menus_pdf/MENU%202024%20A%5B1%5D.pdf" download  target="_blank">MENÚ PRIMAVERA-VERANO</a>

              <a class="text-slate-50 block px-4 py-2 text-2xl font-bold font-albertSans hover:text-terciary hover:border-primary"  href="#quienes">¿Quienes Somos?</a>
              <!-- <a class="font-extrabold  py-1 text-3xl text-salete-50 font-chapaza" href="#menu" (click)="togglemenu()">MENÚ</a> -->
            </li>
            <!-- <a class="font-extrabold text-md py-1" href="#inicio">Para llevar</a> -->
            <!-- <li><a  class="font-extrabold text-md py-1 text-3xl text-salete-50" href="#inicio" (click)="togglemenu()">Reservaciones</a></li> -->
            <!-- <li><a  class="font-extrabold text-md py-1 text-3xl text-salete-50" href="#inicio" (click)="togglemenu()">¿Quiénes somos?</a></li> -->
            <!-- <li><a  class="font-extrabold text-md py-1 text-3xl text-salete-50" href="#inicio" (click)="togglemenu()">Contacto</a></li> -->
          </ul>
      </div>

      <div class="logo-value-porpuse-section flex flex-col justify-between items-center space-x-0"  >
        <img class="md:w-60 w-44 lg:pt-4 md:pt-4 pl-4 pt-4" src="https://storage.googleapis.com/dipace-assets/DP_Oro_md.png" alt="DiPace Logo" >

        <div class="value-porpuse w-full flex justify-center items-center">
          <h1 class="w-full text-primary font-chapaza text-4xl flex justify-center items-center mx-auto text-center">Ristorante | Pizzeria | Caffé | Catering</h1>
        </div>
      </div>

      <div class="carousel-section flex justify-center items-center  space-x-0 bg-secondary">
        <!--  relative w-full overflow-hidden scrollbar-hide scroll-none justify-center items-center -->
        <div
        [@slideAnimation]="images[0]"
        class="w-full
          carousel
          inline-flex
          flex-nowrap
          overflow-hidden
          scrollbar-hide scroll
        ">
          <div
            *ngFor="let image of images; let i = index"
            class="
              flex items-center justify-center md:justify-start
              scrollbar-hide
              carousel-item
              overflow-auto
              transition duration-[600ms] ease-in-out
              md:brightness-50 hover:brightness-100 md:opacity-80 hover:opacity-100 md:grayscale hover:grayscale-0
            "
          >
            <img src="{{ image }}" alt="Slide {{ i + 1 }}"
                class=" md:h-[26rem] h-[26rem] ">
          </div>
        </div>
      </div>

      <div class="md:h-44 h-16 w-full flex justify-around items-center">
        <div class="flex justify-center items-center space-x-4">
            <img src="{{ imagesCertificates[0] }}" alt="Slide" class="md:h-36 h-10">
            <img src="{{ imagesCertificates[1] }}" alt="Slide" class=" md:h-24 h-10">
        </div>
        <div class="flex justify-center items-center space-x-4">
          <img src="{{ imagesCertificates[2] }}" alt="Slide" class="md:h-28 h-10">
          <img src="{{ imagesCertificates[3] }}" alt="Slide" class=" md:h-28  h-10">
        </div>
        <div class="flex justify-center items-center space-x-4">
          <img src="{{ imagesCertificates[4] }}" alt="Slide" class="md:h-20 h-8">
          <img src="{{ imagesCertificates[5] }}" alt="Slide" class=" md:h-24 h-10">
        </div>
        <div class="flex justify-center items-center space-x-4">
          <img src="{{ imagesCertificates[6] }}" alt="Slide" class="md:h-24 h-10">
        </div>
      </div>

    </div>
</section>

<section id="quienes" class="w-full h-screen relative m-auto bg-secondary text-terciary md:-mt-7">
  <div class="mix-blend-darken  w-full h-full absolute  opacity-10" style="background-image: url(https://storage.googleapis.com/dipace-assets/00-Backgrounds/Grecas_background.png)" alt="">
  </div>

  <div class="w-full md:h-3/6 h-4/6 flex flex-col justify-center items-center">

    <div class="font-chapaza font-bold w-full flex flex-col justify-items-stretch md:space-y-4 space-y-2 text-primary  md:p-2 px-2
    0 md:mt-14 ">
      <h3 class="w-full md:text-center md:text-4xl md:p-5 mt-4">¡Bienvenidos a nuestro rincón de Italia en Toluca!
      </h3>
      <p class="md:text-3xl text-sm text-pretty">
        Desde nuestra apertura en 2017, nos hemos convertido en el restaurante mejor calificado de la zona y sus alrededores en el arte culinario italiano. Nuestro compromiso con la auténtica cocina casera italiana se ve reflejado en cada plato que servimos.
      </p>
      <p class="md:text-3xl text-sm text-pretty ">
        Somos la tercera generación de cocineros provenientes de Nápoles, Italia, llevando consigo el legado de nuestras raíces y tradiciones culinarias. En 2020, expandimos nuestra pasión con la creación de nuestra pizzería, la cual en 2023 fue certificada por la Embajada de Italia con la prestigiosa "Ospitalità Italiana".
      </p>
      <p class="md:text-3xl text-sm text-pretty ">
        Eventualmente creamos nuevas propuestas de cocina de autor para deleitar a nuestros comensales y ofrecer experiencias gastronómicas únicas. Nuestro fundador, Emilio Di Pace, ha traído lo más exigente de las cocinas francesas, donde estudió, hasta Toluca, para formar un restaurante a la altura de los platillos que se sirven.
      </p>
      <p class="md:text-3xl text-sm text-pretty ">
        Trabajamos con un gran porcentaje de productos importados y todos nuestros procesos son cien por ciento artesanales, garantizando la calidad y autenticidad de cada bocado. ¡Ven y disfruta de la verdadera esencia de la cocina italiana en nuestro hogar lejos de casa!
        </p>
    </div>
  </div>

  <div class="absolute md:h-3/6 carousel-section flex justify-center items-center  space-x-0  pt-7">
    <!--  relative w-full overflow-hidden scrollbar-hide scroll-none justify-center items-center -->
    <div
    [@slideAnimation]="imagesTimeLaps[0]"
    class="w-full
      carousel
      inline-flex
      flex-nowrap
      overflow-hidden
      scrollbar-hide scroll-auto
    ">
      <div
        *ngFor="let image of imagesTimeLaps; let i = index"
        class="
          flex items-center justify-center md:justify-start
          scrollbar-hide scroll
          carousel-item
          overflow-auto

        "
      >
        <img src="{{ image }}" alt="Slide {{ i + 1 }}"
            class=" md:h-[26rem] h-[16rem] ">
      </div>
    </div>
  </div>


</section>


