
<!-- Menu section -->
<!-- class="container mx-4h-4/6 border-4 border-slate-800" -->
<!--
<div class="container mx-auto border-4 border-slate-800 rounded-md border-separate">
  <div class="w-full h-full p-4">
    <div class="w-full h-3/6 flex flex-col md:flex-row">
      <div class="w-full h-full flex flex-col pr-2 text-slate-95 space-y-2 justify-center">
        <h3 class="font-chapaza text-4xl flex justify-center">ANTIPASTI</h3>
        <div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">ARANCINI DI RAGÚ SICILIANO</p>
            <p class=" text-sm font-bold"> $185</p>
          </div>
          <small class="text-xsx">(3pz) esferas de arroz al azafrán relleno de carne de res y guisantes.
          </small>
        </div>
        <div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">TAGLIERE DI SALUMI E FORMAGGI</p>
            <p class=" text-sm font-bold"> $250</p>
          </div>
          <small class="text-xx">Para compartir. Plato de carnes frías y quesos importados.
          </small>
        </div><div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold"> CARPACCIO MEDITERRANEO</p>
            <p class=" text-sm font-bold"> $190</p>
          </div>
          <small class="text-xsx">Finas láminas de pescado con aliño italiano. *Puede variar la proteína.
          </small>
        </div><div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold"> BURRATA CAMPANA</p>
            <p class=" text-sm font-bold"> $200</p>
          </div>
          <small class="text-xsx">Queso untuoso con ensalada partenopea y aceite de albahaca.
          </small>
        </div>
        <div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">FRITTURA DI CALAMARI</p>
            <p class=" text-sm font-bold"> $210</p>
          </div>
          <small class="text-xsx">Anillas de calamar empanizadas y fritas, porción generosa.
          </small>
        </div>
        <div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold"> PARMIGIANA DI MELANZANE</p>
            <p class=" text-sm font-bold"> $180</p>
          </div>
          <small class="text-xsx">Entrepuesto de berenjenas con quesos y tomate.
          </small>
        </div>
      </div>
      <div class="w-full h-96 flex flex-col justify-center items-center ">
        <div class="bg-cover bg-center h-full w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-1_2.jpg);">
        </div>
        <div class="w-full h-fit flex justify-end ">
          <small class="text-xs font-chapazaItalic">ARANCINI DI RAGÚ SICILIANO.</small>
        </div>
      </div>
    </div>
    <div class="w-full h-3/6  flex  flex-col-reverse md:flex-row">
      <div class="w-full h-96 flex flex-col justify-center items-center">
        <div class="bg-cover bg-center h-full w-full"  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-1.jpg);">
        </div>
        <div class="w-full h-fit flex  justify-end ">
          <small class="text-xs font-chapazaItalic">BURRATA CAMPANA.</small>
        </div>
      </div>
      <div class="w-full h-96 flex flex-col md:ml-3 p-2  text-slate-50 space-y-4 justify-center bg-neutral-800">
        <div class="w-full h-16 flex items-start justify-center">
          <h3 class="font-chapaza text-4xl">INSALATE</h3>
        </div>
        <div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">DELLA CASA</p>
            <p class=" text-sm font-bold"> $180</p>
          </div>
          <small class="text-xsx">Base verde, pera, fresa, queso de cabra y nuez, con aderezo de frutos rojos.
          </small>
        </div>
        <div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">CAPRESE</p>
            <p class=" text-sm font-bold"> $200</p>
          </div>
          <small class="text-xx">Gajos de tomate y mozzarella fresco con albahaca con aceite virgen extra.
          </small>
        </div><div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">PARTENOPEA</p>
            <p class=" text-sm font-bold"> $185</p>
          </div>
          <small class="text-xsx">Base verde, pepino, tomate bola, queso feta y crocante de pan pita.
          </small>
        </div><div class="w-full h-fit flex flex-col">
          <div class="w-full h-fit flex justify-between ">
            <p class=" text-sm font-bold">DEL CAPO</p>
            <p class=" text-sm font-bold"> $190</p>
          </div>
          <small class="text-sx">Base verde, piñón, almendra y queso gorgonzola, con aderezo de tomate seco
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3">
  <div class="w-full h-fit flex justify-center py-3">
    <h2 class="text-4xl font-chapaza">PASTE</h2>
  </div>
  <div class="w-full h-full flex flex-col  md:flex-row  ">
    <div class="w-full h-full flex flex-col  px-4 md:mt-16">
      <div class="w-full h-full flex justify-center items-center">
        <div class="w-full h-full flex flex-col pr-2 text-slate-900 space-y-5 justify-center">
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">SPAGHETTI AULIVE E CHIAPPARIELL</p>
              <p class=" text-sm font-bold"> $255</p>
            </div>
            <small class="text-xs">Puttanesca, salsa de tomate, aceitunas, alcaparras y anchoas.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">FETUCCINE AL PESTO GENOVESE</p>
              <p class=" text-sm font-bold"> $250</p>
            </div>
            <small class="text-xx">Hechos a mano con pesto clásico genovés de albahaca.
            </small>
          </div><div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> SPAGHETTI ALLA CARBONARA</p>
              <p class=" text-sm font-bold"> $235</p>
            </div>
            <small class="text-xs">A la romana, con guanciale, yemas acremadas, pimienta y parmesano.
            </small>
          </div><div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">SPAGHETTI ALLO SCOGLIO</p>
              <p class=" text-sm font-bold"> $270</p>
            </div>
            <small class="text-xs">Con mariscos mixtos.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">PASTA NERA CON GAMBERONI</p>
              <p class=" text-sm font-bold"> $280</p>
            </div>
            <small class="text-xs">Fresca con tinta de sepia, y langostinos.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">PASTA CA’ PUMMAROLA</p>
              <p class=" text-sm font-bold"> $180</p>
            </div>
            <small class="text-xs">Con tomate, ajo y albahaca.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> TAGLIATELLE AL RAGÚ DI BOLOGNA</p>
              <p class=" text-sm font-bold"> $220</p>
            </div>
            <small class="text-xs">Con salsa de carne picada y tomate, el verdadero clásico.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> PENNE AL RAGÚ DI VERDURE</p>
              <p class=" text-sm font-bold"> $210</p>
            </div>
            <small class="text-xs">Elaborado con verduras de primavera.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> BUCCATINI ALLA AMATRICIANA</p>
              <p class=" text-sm font-bold"> $230</p>
            </div>
            <small class="text-xs">Con guanciale romano y tomates, ligeramente picante.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> SPAGHETTI E’ VONGOLE</p>
              <p class=" text-sm font-bold"> $250</p>
            </div>
            <small class="text-xs">Con almejas. Blanco o rosado.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-full flex flex-col  px-4 mb-4">
      <div class="w-full h-auto flex flex-col justify-center items-center">
        <div class="bg-cover bg-center h-full w-full mb-4"  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-2.jpg);">
          <div class="w-full h-96 flex  justify-start items-end bg-sla">
            <small class="text-xs text-success-50 p-2 bg-opacity-70 font-chapazaItalic bg-neutral-800">Pasta negra hecha en casa.</small>
          </div>
        </div>
      </div>
      <div class="w-full  h-96 flex flex-col ">
        <div class="bg-cover bg-center h-full w-full " style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-2_2.jpg);">
        </div>
        <div class="w-full h-fit flex  justify-end ">
          <small class="text-xs font-chapazaItalic">BUCCATINI ALLA AMATRICIANA.</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3">
  <div class="w-full h-full flex flex-col md:flex-row p-4">
    <div class="w-full md:w-3/6 h-full flex flex-col ">
      <div class="w-full h-full flex justify-center items-center">
        <div class="w-full h-full flex flex-col pr-2 text-slate-900 space-y-5 justify-center">
          <div class="w-full h-fit flex flex-col space-y-0 justify-start ">
            <h3 class="font-chapaza h-fit text-4xl ">PRIMI PIATTI</h3>
              <P class="h-fit text-lg ">(ZUPPETE, RISOTTI E ALTRO) </P>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">VELLUTATA PISELLI E MENTUCCIA</p>
              <p class=" text-sm font-bold"> $240</p>
            </div>
            <small class="text-xs">Crema de chícharos y menta, con panceta crujiente.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">RISOTTO ALLA PESCATORA</p>
              <p class=" text-sm font-bold"> $260</p>
            </div>
            <small class="text-xs">Rosado, con mariscos de temporada.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">  RISOTTO ALLA MILANESE</p>
              <p class=" text-sm font-bold"> $270</p>
            </div>
            <small class="text-xs">Con azafrán, acompañado de ragú de ossobuco.
            </small>
          </div>
        </div>
      </div>
      <div class="w-full h-auto md:h-96 bg-terciary flex justify-center items-center ">
        <div class="bg-cover h-full w-full "  style="background-image: url(https://i.pinimg.com/originals/8c/5a/2e/8c5a2e38b28b6330c266eeaaa666e907.jpg);">
        </div>
      </div>
    </div>
    <div class="w-full md:w-3/6 h-auto flex flex-col ml-4">
      <div class="w-full h-auto md:h-4/6 bg-primary flex justify-center items-center">
        <div class="bg-cover  h-full w-full "  style="background-image: url(https://pbs.twimg.com/media/Ewq5AiUWgAE0Q8R?format=jpg&name=small);">
        </div>
      </div>
      <div class="w-full h-2/6  flex justify-center items-center">
        <div class="w-full h-full flex flex-col md:pl-2 text-slate-900 space-y-4 -ml-8">
          <div class="w-full h-fit flex justify-start  mt-4">
            <h3 class="font-chapaza text-4xl">LASAGNE</h3>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> AL RAGÚ DI CARNE</p>
              <p class=" text-sm font-bold"> $215</p>
            </div>
            <small class="text-sx">La de tradición dominical, carne picada y tomate.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold"> ALLA FIORENTINA</p>
              <p class=" text-sm font-bold"> $215</p>
            </div>
            <small class="text-xx">Con espinacas, quesos italianos y bechamel.
            </small>
          </div>
          <div class="w-full h-fit flex flex-col">
            <div class="w-full h-fit flex justify-between ">
              <p class=" text-sm font-bold">  MISTA DI MARE</p>
              <p class=" text-sm font-bold"> $260</p>
            </div>
            <small class="text-xs">De temporada, con ragú de pescados y mariscos.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3">
  <div class="w-full h-full flex flex-col ">
    <div class="w-full h-96  flex justify-center items-center p-4">
      <div class="bg-cover bg-center h-full w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-3.jpg);">
      </div>
    </div>
    <div class="w-full h-3/5 p-4">
      <div class="w-full h-full flex flex-col justify-center items-center text-slate-900 ">
        <div class="w-full h-fit flex justify-start mb-16">
          <h3 class="font-chapaza h-fit text-4xl underline underline-offset-auto">SECONDI PIATTI</h3>
        </div>
        <div class="w-full h-full  md:flex justify-center items-center lg:space-x-48  md:space-x-12 mb-20">
          <div class="flex flex-col space-y-4 mb-4">
            <div class="w-full h-fit flex flex-col ">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> PICCATA DI POLLO AL LIMONE</p>
                <p class=" text-sm font-bold"> $270</p>
              </div>
              <small class="text-sx">Escalopas al limón, esfumadas con vino y alcaparras.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> ´MPEPATA E’ COZZE</p>
                <p class=" text-sm font-bold"> $300</p>
              </div>
              <small class="text-xx">Guisado de mejillones al vino blanco, en casco de masa de pizza.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  TARTARE MISTO DEL MARE</p>
                <p class=" text-sm font-bold"> $310</p>
              </div>
              <small class="text-xs"> Trilogía de tártaras de pescados.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> FILETTO IN MANTO VERDE</p>
                <p class=" text-sm font-bold"> $320</p>
              </div>
              <small class="text-xs">Con reducción de carne, cubierta verde y verduras salteadas.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">   INSALATA DI POLPO</p>
                <p class=" text-sm font-bold"> $290</p>
              </div>
              <small class="text-xs">Con limón, perejil y perfumes de ajo, sobre papas aliñadas.
              </small>
            </div>
          </div>

          <div class="flex flex-col space-y-4 ">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  MANZO AL PEPE VERDE</p>
                <p class=" text-sm font-bold"> $310</p>
              </div>
              <small class="text-sx">Filete, con salsa de pimienta verde.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">POLLO DELLA FRONTIERA</p>
                <p class=" text-sm font-bold"> $260</p>
              </div>
              <small class="text-xx">Marinado en cítricos con menta, con calabacines al grill.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">SALTIMBOCCA ALLA ROMANA</p>
                <p class=" text-sm font-bold"> $280</p>
              </div>
              <small class="text-xs">Ternera con prosciutto y salvia, en reducción de vino.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> PESCE ALL’ACQUA PAZZA</p>
                <p class=" text-sm font-bold"> $285</p>
              </div>
              <small class="text-xs">Pescado entero, tomates cherry, ajo y chiles mediterráneos.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> SALSICCIE E FRIARIELLI</p>
                <p class=" text-sm font-bold"> $270</p>
              </div>
              <small class="text-xs">Salchicha estilo siciliano con hojas de nabo salteadas.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-screen flex flex-col md:flex-row">
    <div class="w-full h-4/6 md:w-3/6 md:h-full flex flex-col ">
      <div class="w-full h-full text-slate-900 flex flex-col justify-around items-center ">
        <div class="w-full h-fit flex justify-start ">
          <h3 class="font-chapaza h-fit text-4xl ">DOLCI</h3>
        </div>
        <div class="w-full h-4/6 flex justify-center items-center">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 space-y-3 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">TIRAMISÚ AL LIMONCELLO</p>
                <p class=" text-sm font-bold"> $160</p>
              </div>
              <small class="text-xs">Con ralladura de limón, bañadas en licor de limón.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">SEMIFREDDO AL BASILICO</p>
                <p class=" text-sm font-bold"> $150</p>
              </div>
              <small class="text-xx">Mousse semi congelado de albahaca, miel y limón.
              </small>
            </div><div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  ZUPPETTA AI TUTTI FRUTTI</p>
                <p class=" text-sm font-bold"> $135</p>
              </div>
              <small class="text-xs">Sopa dulce de frutas mixtas, con galleta.
              </small>
            </div><div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> PANNACOTTA AI FRUTTI DEL BOSCO</p>
                <p class=" text-sm font-bold"> $135</p>
              </div>
              <small class="text-xs">Clásica de vainilla con salsa de frutos rojos.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">IL GOLOSONE</p>
                <p class=" text-sm font-bold"> $180</p>
              </div>
              <small class="text-xs">Cheescake elaborado con productos Ferrero y Kinder.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">BABÁ AL RHUM</p>
                <p class=" text-sm font-bold"> $155</p>
              </div>
              <small class="text-xs">Pan bañado en jarabe de ron, con crema diplomática y fruta.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <!-- <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> TORTA DI CIOCCOLATO E PERE</p>
                <p class=" text-sm font-bold"> $150</p>
              </div>
              <small class="text-xs">Pastel de chocolate amargo y peras, con helado.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  TIRAMISÚ AL CAFFÉ</p>
                <p class=" text-sm font-bold"> $145</p>
              </div>
              <small class="text-xs">El más clásico, con café exprés y amaretto.
              </small>
            </div>
          </div>
        </div>
        <div class="w-auto h-auto md:w-56 md:h-56  rounded-full bg-terciary">
        </div>
      </div>
    </div>
    <div class="w-full h-2/6 md:w-3/6 md:h-full flex  flex-col">
      <div class="w-full h-full  flex justify-center items-center">
        <div class="bg-cover bg-center h-full w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-5.jpg);">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-full flex flex-col md:flex-row">
    <div class="w-full h-1/6 md:w-3/6 md:h-full flex ">
      <div class=" w-full h-36 md:h-[48rem] flex flex-col justify-center items-center ">
        <div class=" bg-cover bg-right-bottom h-full w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-6.jpg);">
        </div>
      </div>
    </div>
    <div class="w-full h-5/6 md:w-3/6 md:h-full flex  flex-col">
      <div class="w-full h-full  flex justify-center items-center">
        <div class="w-full h-full text-slate-900 flex flex-col justify-around items-center md:pl-4">
          <div class="w-full h-fit flex flex-col justify-start -space-y-2 md:space-y-0 ">
            <h3 class="font-chapaza h-fit text-4xl ">LE PIZZE</h3>
            <p class="font-chapaza h-fit text-2xl">PIZZE ROSSE</p>
            <p class="font-bold  text-sm ">BASE DE TOMATE, 30cm</p>
          </div>
          <div class="w-full h-4/6 flex justify-center items-center mt-4">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">MARGHERITA</p>
                  <p class=" text-sm font-bold"> $210</p>
                </div>
                <small class="text-xs">Tomate, mozzarella fresca y albahaca.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">MARINARA</p>
                  <p class=" text-sm font-bold">$185</p>
                </div>
                <small class="text-xx">Tomate, ajo y orégano.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> ORTOLANA</p>
                  <p class=" text-sm font-bold"> $215</p>
                </div>
                <small class="text-xs">Mezcla de verduras frescas.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">CAPRICCIOSA</p>
                  <p class=" text-sm font-bold"> $235</p>
                </div>
                <small class="text-xs">Alcachofa, aceituna negra, jamón artesanal y champiñones.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">NAPOLETANA</p>
                  <p class=" text-sm font-bold"> $225</p>
                </div>
                <small class="text-xs">Anchoas, alcaparras y aceitunas negras.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">DIAVOLA</p>
                  <p class=" text-sm font-bold"> $230</p>
                </div>
                <small class="text-xs">Salame picante y provolone ahumado.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">VIVA L’ITALIA</p>
                  <p class=" text-sm font-bold"> $260</p>
                </div>
                <small class="text-xs">Jamón serrano, arúgula y parmesano laminado.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  TIRAMISÚ AL CAFFÉ</p>
                  <p class=" text-sm font-bold"> $145</p>
                </div>
                <small class="text-xs">El más clásico, con café exprés y amaretto.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> GUAGLIONE</p>
                  <p class=" text-sm font-bold"> $215</p>
                </div>
                <small class="text-xs">Salami americano y champiñones.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> FRANCESCANA</p>
                  <p class=" text-sm font-bold"> $215</p>
                </div>
                <small class="text-xs">Jamón de pierna y champiñones.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  CALABRESE</p>
                  <p class=" text-sm font-bold"> $215</p>
                </div>
                <small class="text-xs"> Mozzarella, albahaca y ‘nduja (embutido picante de Calabria).
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">GAMBERI</p>
                  <p class=" text-sm font-bold"> $260</p>
                </div>
                <small class="text-xs">Camarones, cebolla morada y pepperoncino.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> DEL BOSCO</p>
                  <p class=" text-sm font-bold"> $220</p>
                </div>
                <small class="text-xs">Mezcla de hongos, orégano y albahaca.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  MAIALONA</p>
                  <p class=" text-sm font-bold"> $240</p>
                </div>
                <small class="text-xs">salchicha italiana, salame picante y salami americano.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col mb-6">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">DI PACE</p>
                  <p class=" text-sm font-bold"> $230</p>
                </div>
                <small class="text-xs">Berenjena frita, parmesano y albahaca.
                </small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-full flex flex-col md:flex-row text-slate-900">
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col ">
      <div class="w-full h-4/6  flex flex-col justify-center items-center ">
        <div class="w-full h-fit flex flex-col justify-start -space-y-2 mb-4">
          <p class="font-chapaza h-fit text-2xl ">PIZZE BIANCHE</p>
          <p class="font-bold text-sm">BASE DE BLANCA, 30cm</p>
        </div>
        <div class="w-full h-3/6 flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">QUATTRO FORMAGGI</p>
                <p class=" text-sm font-bold"> $235</p>
              </div>
              <small class="text-xs">Parmesano, mozzarella, gorgonzola, provolone.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">TARTUFATA</p>
                <p class=" text-sm font-bold">$265</p>
              </div>
              <small class="text-xx">Salchicha italiana, champiñones y aceite de trufa negra.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> MILANESE</p>
                <p class=" text-sm font-bold"> $245</p>
              </div>
              <small class="text-xs">Gorgonzola, pera y nuez.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">ABRUZZESE</p>
                <p class=" text-sm font-bold"> $235</p>
              </div>
              <small class="text-xs">Mozzarella, papa laminada, salchicha italiana y romero.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">FILETTO</p>
                <p class=" text-sm font-bold"> $215</p>
              </div>
              <small class="text-xs">Tomates cherry, mozarella, parmesano y albahaca.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">GIULIETTA</p>
                <p class=" text-sm font-bold"> $265</p>
              </div>
              <small class="text-xs">Cuatro quesos, panceta ahumada, champiñones y nuez.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between">
                <p class=" text-sm font-bold">MARADONA</p>
                <p class=" text-sm font-bold">$230</p>
              </div>
              <small class="text-xs">Salchicha italiana y friarelli (hojas de nabo napolitano).
              </small>
            </div>
            <div class="w-full h-fit flex flex-col mb-1">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CAPRINA</p>
                <p class=" text-sm font-bold"> $250</p>
              </div>
              <small class="text-xs">Crema de tomate seco, queso de cabra y jamón serrano.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-32 md:h-48  flex flex-col justify-center items-center my-8">

        <div class="bg-cover bg-center object-scale-down h-full w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-8.jpeg);">
        </div>
      </div>
      <div class="w-full h-1/6 flex flex-col justify-center items-center ">
        <div class="w-full h-fit flex flex-col justify-start -space-y-2 ">
          <p class="font-chapaza h-fit text-2xl">DOLCE</p>
          <p class="font-bold text-sm">PIZZA DULCE, 28cm</p>
        </div>
        <div class="w-full h-4/6 flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">PINOCCHIO</p>
                <p class=" text-sm font-bold"> $200</p>
              </div>
              <small class="text-xs">Crema de avellanas, fruta y nueces tostadas.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col md:pl-4">
      <div class="w-full h-32 md:h-72  flex justify-center items-center">
        <div class="bg-cover bg-center h-full w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-7.jpg);">
        </div>
      </div>
      <div class="w-full h-full md:h-4/6 bg-orange-300 bg-opacity-75 flex flex-col space-y-1 pt-2">
        <div class="w-full h-full flex flex-col justify-center items-center ">
          <div class="w-full h-fit flex flex-col justify-start space-y-0 ">
            <p class="font-chapaza  text-2xl">PANUOZZO NAPOLETANO</p>
            <hr class="w-12 h-3 p-1  bg-neutral-900">
            <p class="font-bold text-sm ">PANINO GIGANTE CON MASA DE PIZZA, 28CM</p>
          </div>
          <div class="w-full h-4/6 flex justify-center items-center ">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">CLEMENTINO</p>
                  <p class=" text-sm font-bold"> $255</p>
                </div>
                <small class="text-xs">Mozzarella, jamón serrano, parmesano y arúgula.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">SAN ROCCO</p>
                  <p class=" text-sm font-bold"> $240</p>
                </div>
                <small class="text-xs">Mozzarella, jamón de pierna, salame picante y arúgula.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">CAMPIRANO</p>
                  <p class=" text-sm font-bold"> $230</p>
                </div>
                <small class="text-xs">Mozzarella, alcachofas, aceitunas, champiñón, berenjena y arúgula.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full h-full flex flex-col justify-center items-center ">
          <div class="w-full h-fit flex flex-col justify-start space-y-0 ">
            <p class="font-chapaza  text-2xl">CALZONI</p>
            <hr class="w-12 h-3 p-1  bg-neutral-900">
            <p class="font-bold text-sm ">PIZZA CERRADA, 28CM</p>
          </div>
          <div class="w-full h-4/6 flex justify-center items-center ">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">MAZCALZONE</p>
                  <p class=" text-sm font-bold"> $240</p>
                </div>
                <small class="text-xs">Ricotta, mozzarella, jamón de pierna y salame.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">POPOLARE</p>
                  <p class=" text-sm font-bold"> $215</p>
                </div>
                <small class="text-xs">Ricotta, mozzarella, salami americano, champiñones y parmesano.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full h-full flex flex-col justify-center items-center ">
          <div class="w-full h-fit flex flex-col justify-start space-y-0 ">
            <p class="font-chapaza  text-2xl">FOCACCIE</p>
            <hr class="w-12 h-3 p-1  bg-neutral-900">
            <p class="font-bold text-sm ">PAN DE ACOMPAÑAMIENTO, COCCIÓN AL MOMENTO. 310GR</p>
          </div>
          <div class="w-full h-4/6 flex justify-center items-center ">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  SALE E ROSMARINO</p>
                  <p class=" text-sm font-bold"> $90</p>
                </div>
                <small class="text-xs">Sal y romero.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">AGLIO E PARMIGGIANO</p>
                  <p class=" text-sm font-bold"> $95</p>
                </div>
                <small class="text-xs">Ajo y parmesano.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">GOURMET</p>
                  <p class=" text-sm font-bold"> $120</p>
                </div>
                <small class="text-xs">Aceitunas verdes, cherry y cebolla morada.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate m-3  p-4">
  <div class="w-full h-screen flex flex-col md:flex-row">
    <div class="w-full h-5/6 md:w-3/6 md:h-full flex  flex-col">
      <div class="w-full h-full  flex justify-center items-center">
        <div class="w-full h-full text-slate-900 flex flex-col justify-around items-center pl-4">

          <div class="w-full h-fit flex flex-col justify-start -space-y-2 md:space-y-0 md:-mt-14 -mt-10">
            <h3 class="font-chapaza w-7/12 md:w-5/12 h-fit text-4xl -ml-7 pt-2 pl-8 bg-primary bg-opacity-60 text-success-50">DA BERE</h3>
          </div>
          <div class="w-full h-4/6 flex justify-center items-center -mt-0">
            <div class="w-full h-full flex flex-col pr-2 -ml-8 text-slate-900 space-y-1 md:space-y-2 justify-center">
              <p class="font-chapaza h-fit text-xl md:text-4xl md:pb-10">ANALCOLICHE</p>

              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">REFRESCO COCA COLA, 355ml</p>
                  <p class=" text-sm font-bold"> $35</p>
                </div>
                <small class="text-xs">Regular, sin azúcar y light.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">LAHAR, 500ml</p>
                  <p class=" text-sm font-bold">$70</p>
                </div>
                <small class="text-xx">Agua gasificada en el volcán de Colima.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> SAN PELLEGRINO MINERALE, 250ml / 505ml</p>
                  <p class=" text-sm font-bold"> $45/$70</p>
                </div>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">ACQUA PANNA, 505ml</p>
                  <p class=" text-sm font-bold"> $60</p>
                </div>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  SAN PELLEGRINO NATURALI,355ml, Italia</p>
                  <p class=" text-sm font-bold"> $225</p>
                </div>
                <small class="text-xs">Naranja, limón, naranja roja, naranja con granada, mandarina, limón con menta.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">SAN PELLEGRINO ESSENZA, 330ml</p>
                  <p class=" text-sm font-bold"> $55</p>
                </div>
                <small class="text-xs">Sin azúcar, sin calorías. Cereza negra, tangerina, naranja sangría.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">SANBITTER, 200ml</p>
                  <p class=" text-sm font-bold"> $65</p>
                </div>
                <small class="text-xs">Aperitivo de hierbas aromáticas ligeramente amargo.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  CHINOTTO, 315ml</p>
                  <p class=" text-sm font-bold"> $65</p>
                </div>
                <small class="text-xs">Refresco de naranjas sicilianas.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> DELISON, 325ml</p>
                  <p class=" text-sm font-bold"> $50</p>
                </div>
                <small class="text-xs">Refresco artesanal de Zacatlán. Manzana, durazno, maracuyá.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  FÉLIX SCHORLE, 355ml</p>
                  <p class=" text-sm font-bold"> $62</p>
                </div>
                <small class="text-xs">Jugo de fruta con agua mineral. Frambuesa, guayaba, mandarina.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">  NÉCTAR EL AMATE, 400ml</p>
                  <p class=" text-sm font-bold"> $60</p>
                </div>
                <small class="text-xs">Naturalmente artesanal, sabores de temporada.
                </small>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="w-full h-2/6 md:w-3/6 md:h-full flex flex-col md:pl-4 mt-10 md:mt-0">
      <div class="w-full h-full flex flex-col justify-center items-center ">
        <div class="bg-cover   bg-top h-full w-full "  style="background-image: url(https://images.ctfassets.net/bth3mlrehms2/3Nje4cNmJGxGgaP3THiiy5/4b390150039f19ae55a9408700403f69/iStock-857817758.jpg?w=1998&h=1500&fl=progressive&q=50&fm=jpg);">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-full flex flex-col md:flex-row text-slate-900">
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col ">
      <div class="w-full h-4/6  flex flex-col justify-center items-center ">
        <div class="w-full h-fit flex flex-col justify-start -space-y-2 ">
          <p class="font-chapaza h-fit text-4xl mb-4">BIRRE</p>
        </div>
        <div class="w-full h-3/6 flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  PEPPE NAPPA, 355ml</p>
                <p class=" text-sm font-bold">$100</p>
              </div>
              <small class="text-xx">De la casa, con cítricos, albahaca y notas de miel.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  PERONI NASTRO AZZURRO, 330ml</p>
                <p class=" text-sm font-bold"> $110</p>
              </div>
              <small class="text-xs">Italia.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">PERONI ROSSA, 330ml</p>
                <p class=" text-sm font-bold"> $110</p>
              </div>
              <small class="text-xs">Italia.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">ANGELO PORETTI 4 LUPPOLI, 330ml</p>
                <p class=" text-sm font-bold"> $110</p>
              </div>
              <small class="text-xs">Italia.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">BIRRA MORETTI</p>
                <p class=" text-sm font-bold"> $110</p>
              </div>
              <small class="text-xs">Italia.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between">
                <p class=" text-sm font-bold">ICHNUSA, ANIMA SARDA, 330ml</p>
                <p class=" text-sm font-bold">$115</p>
              </div>
              <small class="text-xs">Italia.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col mb-1">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  MASTRI BIRRAI UMBRI, 750ml</p>
                <p class=" text-sm font-bold"> $240</p>
              </div>
              <small class="text-xs">Italia.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full  md:h-48 flex flex-col justify-center items-center md:my-8 md:pr-2">
        <div class=" bg-cover md:h-full w-full "  style="background-image: url(https://www.meganstarr.com/wp-content/uploads/2021/03/Things-to-do-on-the-Amalfi-Coast.jpg);">
        </div>
      </div>
      <div class="w-full h-1/6 flex flex-col justify-center items-center ">
        <div class="w-full h-4/6 flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 space-y-2 md:space-y-2 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CERVEZA CORONA, 355ml</p>
                <p class=" text-sm font-bold"> $45</p>
              </div>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CERVEZA VICTORIA, 355ml</p>
                <p class=" text-sm font-bold"> $45</p>
              </div>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CERVEZA MODELO, 355ml</p>
                <p class=" text-sm font-bold"> $60</p>
              </div>
              <small class="text-xs">Especial, negra.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">MICHELOB ULTRA, 355ml</p>
                <p class=" text-sm font-bold"> $60</p>
              </div>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">STELLA ARTOIS, 330ml</p>
                <p class=" text-sm font-bold"> $65</p>
              </div>
              <small class="text-xs">Bélgica.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-full md:w-3/6 md:h-full  flex flex-col md:pl-4">
      <div class="w-full h-auto md:h-96 bg-primary flex justify-center items-center">
        <div class="bg-cover bg-center h-64 md:h-full w-full "  style="background-image: url(https://i.redd.it/kz2mfjioftqz.jpg);">
        </div>
      </div>
      <div class="w-full h-full md:h-4/6 flex flex-col space-y-1 pt-2">
        <div class="w-full h-full flex flex-col justify-center items-center ">

          <div class="w-full h-full flex justify-center items-center md:mt-8">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900  md:space-y-6 justify-center">
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> SIETE VEINTIDOS BREWING, 330ml</p>
                  <p class=" text-sm font-bold"> $110</p>
                </div>
                <small class="text-xs">Artesanal mexicana de Toluca, variedad de estilos.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> CERVECERÍA COLIMA, 330ml</p>
                  <p class=" text-sm font-bold"> $120</p>
                </div>
                <small class="text-xs">Artesanal mexicana de Colima, variedad de estilos.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">CERVECERÍA RÁMURI, 330ml</p>
                  <p class=" text-sm font-bold"> $120</p>
                </div>
                <small class="text-xs">Artesanal mexicana de Tijuana, variedad de estilos.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full h-full flex flex-col justify-center items-center ">
          <div class="w-full h-full flex justify-center items-center md:mt-6">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-6 justify-center">
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold"> CERVECERÍA BILDERBERG, 475ml</p>
                  <p class=" text-sm font-bold"> $145</p>
                </div>
                <small class="text-xs">artesanal mexicana de Puebla, variedad de estilos.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">CERVECERÍA HEZVEN, 330ml</p>
                  <p class=" text-sm font-bold"> $100</p>
                </div>
                <small class="text-xs">Artesanal mexicana de Toluca, variedad de estilos.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">CERVECERÍA ESPIRITÚ, 330ml</p>
                  <p class=" text-sm font-bold"> $100</p>
                </div>
                <small class="text-xs">Artesanal mexicana de Toluca, variedad de estilos.
                </small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-screen border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-full flex flex-col md:flex-row text-slate-900">
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col ">
      <div class="w-full md:h-4/6  flex flex-col justify-center items-center ">
        <div class="w-full h-fit flex flex-col justify-start  -mt-14">
          <p class="font-chapaza h-fit text-4xl">VINI</p>
        </div>
        <div class="w-full h-3/6 flex justify-center items-center mt-20">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">COPA DE VINO TINTO, 7oz fl.</p>
                <p class=" text-sm font-bold"> $135</p>
              </div>
              <small class="text-xs">Casa Bellaretta, Cabernet Suavignon.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">COPA DE VINO BLANCO, 7oz fl.</p>
                <p class=" text-sm font-bold">$135</p>
              </div>
              <small class="text-xx">Casa Bellaretta, Chardonnay.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">RIUNITE LAMBRUSCO, 187ml</p>
                <p class=" text-sm font-bold"> $110</p>
              </div>
              <small class="text-xs">Espumoso tinto o rosé, individual.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">RIUNITE SANGRÍA, 250ml</p>
                <p class=" text-sm font-bold"> $110</p>
              </div>
              <small class="text-xs">Servido con hielo y fruta.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> VINI DELLA CANTINA TOLLO. Italia.</p>
              </div>
              <small class="text-xs">Líneas Roccaventosa y Colle Cavallieri. *Sujetos a disponibilidad.

              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">ALTOTINTO, VINOS DE AUTOR.</p>
              </div>
              <small class="text-xs">Valle de la Grulla, BC, México. *Sujetos a disponibilidad.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between">
                <p class=" text-sm font-bold">  GLÜHWEIN, 355ml,</p>
                <p class=" text-sm font-bold">$120</p>
              </div>
              <small class="text-xs">Vino especiado caliente estilo alsaciano.
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-52 md:h-3/6 flex flex-col justify-center items-center ">

        <div class="bg-cover bg-left h-full w-full "  style="background-image: url(https://www.beverfood.com/wp-content/uploads/2019/04/aperol-2-714x846.jpg);">
        </div>

      </div>

    </div>
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col md:pl-4">
      <div class="w-full h-auto md:h-5/6 bg-primary flex justify-center items-center">
        <div class="bg-cover bg-center h-full w-full "  style="background-image: url(https://ychef.files.bbci.co.uk/1376x774/p08qx1s9.jpg);">
        </div>
      </div>
      <div class="w-full h-full md:h-2/6  flex flex-col space-y-1 ">
        <div class="w-full h-full flex flex-col  items-center ">
          <div class="w-full h-4/6 flex  items-center ">
            <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
              <div class="w-full h-fit flex flex-col mt-2">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">    APEROL SPRITZ, </p>
                  <p class=" text-sm font-bold"> $150</p>
                </div>
                <small class="text-xs">Sutil coctel de naranja, prosecco y agua mineral.
                </small>
              </div>
              <div class="w-full h-fit flex flex-col">
                <div class="w-full h-fit flex justify-between ">
                  <p class=" text-sm font-bold">LIMONCELLO SPRITZ</p>
                  <p class=" text-sm font-bold"> $150</p>
                </div>
                <small class="text-xs">Con licor de limones, prosecco y agua mineral.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto w-full h-full md:h-screen border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-full flex flex-col md:flex-row text-slate-900">
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col ">
      <div class="w-full h-full  flex flex-col justify-center items-center ">
        <div class="w-full h-fit flex flex-col justify-start  ">
          <p class="font-chapaza h-fit text-2xl">CAFFÉ</p>
        </div>
        <div class="w-full h-full flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">

            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ ESPRESSO</p>
                <p class=" text-sm font-bold"> $50</p>
              </div>
              <small class="text-xs">Exprés.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ ESPRESSO LUNGO</p>
                <p class=" text-sm font-bold"> $50</p>
              </div>
              <small class="text-xs">Exprés largo.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CAFFÉ ESPRESSO DOPPIO</p>
                <p class=" text-sm font-bold"> $75</p>
              </div>
              <small class="text-xs">Exprés doble.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between">
                <p class=" text-sm font-bold">CAFFÉ ESPRESSO MACCHIATO</p>
                <p class=" text-sm font-bold">$55</p>
              </div>
              <small class="text-xs">Exprés cortado.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col mb-1">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  CAFFÉ ESPRESSO LUNGO MACCHIATO</p>
                <p class=" text-sm font-bold"> $55</p>
              </div>
              <small class="text-xs">Exprés largo cortado.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CAFFÉ ESPRESSO DOPPIO MACCHIATO</p>
                <p class=" text-sm font-bold"> $80</p>
              </div>
              <small class="text-xs">Exprés doble cortado.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFE ALLA AMERICANA</p>
                <p class=" text-sm font-bold"> $55</p>
              </div>
              <small class="text-xs">Americano.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAPPUCCINO</p>
                <p class=" text-sm font-bold"> $65</p>
              </div>
              <small class="text-xs">Con espuma de leche.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CAFFÉ MAROCCHINO</p>
                <p class=" text-sm font-bold"> $65</p>
              </div>
              <small class="text-xs">Exprés cortado, azúcar y cocoa.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ AFFOGATO</p>
                <p class=" text-sm font-bold"> $85</p>
              </div>
              <small class="text-xs">Exprés largo con helado de vainilla artesanal.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ VIENNESE</p>
                <p class=" text-sm font-bold"> $80</p>
              </div>
              <small class="text-xs"> Café exprés largo con chocolate y crema montada.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CAFFÉ ESPRESSO ROMANO</p>
                <p class=" text-sm font-bold"> $90</p>
              </div>
              <small class="text-xs">Café exprés con limón, azúcar y sambuca.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ CORRETTO</p>
                <p class=" text-sm font-bold"> $95</p>
              </div>
              <small class="text-xs">Café exprés con una onza de grappa.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ SHAKERATO</p>
                <p class=" text-sm font-bold"> $60</p>
              </div>
              <small class="text-xs">Café exprés shakeado con hielo y azúcar.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFFÉ DEL NONNO</p>
                <p class=" text-sm font-bold"> $80</p>
              </div>
              <small class="text-xs">Café exprés granizado con hielo, azúcar y nata de leche.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col md:pl-4">
      <div class="w-full h-full md:h-3/6  bg-terciary bg-opacity-80 flex justify-center items-center">
        <div class="w-full h-4/6 flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 pl-2 text-slate-50 md:space-y-2 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  INFUSIÓN DE TÉ</p>
                <p class=" text-sm font-bold"> $40</p>
              </div>
              <small class="text-xs">Variedad de sabores, nacional.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">TISANA HERBAL O FRUTAL</p>
                <p class=" text-sm font-bold"> $70</p>
              </div>
              <small class="text-xs">Variedad de sabores, nacional.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CHOCOLATE CALIENTE</p>
                <p class=" text-sm font-bold"> $65</p>
              </div>
              <small class="text-xs">Como el de la abuelita.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CHAI LATTE</p>
                <p class=" text-sm font-bold"> $70</p>
              </div>
              <small class="text-xs">Bebida base leche con especias indias.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">DIRTY CHAI</p>
                <p class=" text-sm font-bold"> $90</p>
              </div>
              <small class="text-xs">Chai latte con shot de café exprés nacional.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">TIRAMISÚ LATTE</p>
                <p class=" text-sm font-bold"> $75</p>
              </div>
              <small class="text-xs">Bebida con leche sabor tiramisú, con amaretto.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> TÉ NEGRO EGIPCIO</p>
                <p class=" text-sm font-bold"> $75</p>
              </div>
              <small class="text-xs">El Arosa, microesferas de té negro, aroma a miel de abeja.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full h-3/6  flex flex-col space-y-1 pt-2">
        <div class="w-full md:h-full flex flex-col justify-center items-center bg-primary ">

        <div class="bg-cover bg-center h-full w-full "  style="background-image: url(https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/415BrrR9aSL.jpg);">
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container mx-auto w-full h-full md:h-screen border-4 border-slate-800 rounded-md border-separate mt-3 p-4">
  <div class="w-full h-full flex flex-col md:flex-row text-slate-900">
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col ">
      <div class="w-full h-1/6 flex flex-col justify-start  mb-4">
        <p class="font-chapaza h-full text-3xl">BRUNCH</p>
      </div>
      <div class="w-full h-4/6  flex flex-col justify-center items-center ">
        <div class="w-full h-full flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 space-y-2  md:space-y-4 justify-center">

            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">DEL NONNO</p>
                <p class=" text-sm font-bold"> $135</p>
              </div>
              <small class="text-xs">Budín de chilaquiles, dos chiles y tres quesos.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">DELLA NONNA</p>
                <p class=" text-sm font-bold"> $145</p>
              </div>
              <small class="text-xs">Huevos (3pz) al horno, bañados en nata con chipotle.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  CHAC MOOL</p>
                <p class=" text-sm font-bold"> $160</p>
              </div>
              <small class="text-xs">Enchiladas de cochinita con salsa de habanero.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between">
                <p class=" text-sm font-bold"> HUEVOS DEL ÁRABE</p>
                <p class=" text-sm font-bold">$160</p>
              </div>
              <small class="text-xs">(3pz) en cazuela, con aceite de oliva, jocoque y zaatar.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col mb-1">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CROQUE MONSIEUR</p>
                <p class=" text-sm font-bold"> $140</p>
              </div>
              <small class="text-xs">Emparedado con jamón artesanal, queso y bechamel.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  CROQUE MADAME</p>
                <p class=" text-sm font-bold"> $160</p>
              </div>
              <small class="text-xs">De jamón artesanal, queso, bechamel y huevo frito.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">EL GLOTÓN</p>
                <p class=" text-sm font-bold"> $140</p>
              </div>
              <small class="text-xs">Torta de chilaquiles verdes con milanesa de pollo.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">McPACE</p>
                <p class=" text-sm font-bold"> $160</p>
              </div>
              <small class="text-xs">Muffin inglés con salchicha italiana y provolone ahumado, con hashbrown.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> OMELETTE VIKINGO</p>
                <p class=" text-sm font-bold"> $160</p>
              </div>
              <small class="text-xs">Relleno de salmón al eneldo y queso de cabra.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">SANDWICH MONTECRISTO</p>
                <p class=" text-sm font-bold"> $155</p>
              </div>
              <small class="text-xs">Relleno de jamones mixtos y queso, sellado.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">TOAST DEL NAVEGANTE</p>
                <p class=" text-sm font-bold"> $165</p>
              </div>
              <small class="text-xs"> Pan de semillas, con aguacate y salmón ahumado.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> PAN FRÁNCES</p>
                <p class=" text-sm font-bold"> $130</p>
              </div>
              <small class="text-xs">Brioche sellado, con azúcar y canela, con fruta y crema.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">  MEGA WAFFLE</p>
                <p class=" text-sm font-bold"> $120</p>
              </div>
              <small class="text-xs">Salseado, acompañado con fruta y crema batida.
              </small>
            </div>

            <div class="w-full h-full  md:h-full flex flex-col a">
              <div class="w-full h-fit  bg-orange-300 bg-opacity-70 flex justify-center items-center pl-2 py-5">
                <div class="w-full h-fit flex justify-center items-center ">
                  <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-2 justify-center">
                    <div class="w-full h-fit flex flex-col">
                      <div class="w-full h-fit flex justify-between ">
                        <p class=" text-sm font-bold mb-4">HAZLO PAQUETE + $90.00</p>
                      </div>
                      <small class="text-xs">Café o té (+2refill) o capuchino (1 taza) + jugo de naranja o mimosa (+$35) + macedonia de fruta + pan hecho en casa.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="w-full h-full md:w-3/6 md:h-full flex flex-col md:pl-4">
      <div class="w-full h-4/6 md:h-4/6 bg-opacity-80 flex justify-center items-center">
        <div class="w-full h-full flex justify-center items-center ">
          <div class="w-full h-full flex flex-col pr-2 text-slate-900 md:space-y-3 justify-center">
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">CAFÉ AMERICANO</p>
                <p class=" text-sm font-bold"> $40</p>
              </div>
              <small class="text-xs">Ensamble nacional.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">TÉ</p>
                <p class=" text-sm font-bold"> $35</p>
              </div>
              <small class="text-xs">Variedad de sabores.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> CAPUCHINO</p>
                <p class=" text-sm font-bold"> $55</p>
              </div>
              <small class="text-xs">Estilo mexicano.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">PAN DE LA CASA</p>
                <p class=" text-sm font-bold"> $25</p>
              </div>
              <small class="text-xs">Variedad de estilos.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">JUGO DE NARANJA</p>
                <p class=" text-sm font-bold"> $30</p>
              </div>
              <small class="text-xs">Concentrado europeo.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold">HALF & HALF</p>
                <p class=" text-sm font-bold"> $15</p>
              </div>
              <small class="text-xs">Crema para café.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> MACEDONIA DE FRUTA</p>
                <p class=" text-sm font-bold"> $45</p>
              </div>
              <small class="text-xs">De temporada.
              </small>
            </div>
            <div class="w-full h-fit flex flex-col">
              <div class="w-full h-fit flex justify-between ">
                <p class=" text-sm font-bold"> INGREDIENTE EXTRA</p>
                <p class=" text-sm font-bold"> $30</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-2/5  flex flex-col space-y-1 pt-2 mb-3">
        <div class="w-full md:h-full flex flex-col justify-center items-center  -mt-2">

        <div class="bg-cover bg-center h-72 w-full "  style="background-image: url(https://storage.googleapis.com/dipace-assets/menu-section/menu-hoja-12-1.jpeg);">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

 -->
