/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "cocosignum maiuscoletto regular";
  src: url('./assets/fonts/CocosignumMaiuscoletto-Regular-Trial.ttf') format('opentype');
}

@font-face {
  font-family: "cocosignum maiuscoletto ultralight";
  src: url('./assets/fonts/Cocosignum\ Maiuscoletto\ Ultralight\ Trial.ttf') format('opentype');
}

@font-face {
  font-family: "cocosignum maiuscoletto light";
  src: url('./assets/fonts/Cocosignum\ Maiuscoletto\ Light\ Trial.ttf') format('opentype');
}

@font-face {
  font-family: "cocosignum maiuscoletto heavy";
  src: url('./assets/fonts/Cocosignum\ Maiuscoletto\ Heavy\ Trial.ttf') format('opentype');
}

@font-face {
  font-family: "cocosignum maiuscoletto bold";
  src: url('./assets/fonts/Cocosignum\ Maiuscoletto\ Bold\ Trial.ttf') format('opentype');
}

@font-face {
  font-family: "chapaza";
  src: url('./assets/fonts/Chapaza.ttf') format('opentype');
}

@font-face {
  font-family: "chapaza italic";
  src: url('./assets/fonts/Chapaza\ Italic.ttf') format('opentype');
}

@font-face {
  font-family: "albert sans";
  src: url('./assets/fonts/AlbertSans-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: "albert sans italic";
  src: url('./assets/fonts/AlbertSans-Italic-VariableFont_wght.ttf') format('opentype');
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
